<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> create profile</h1>
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="">name</label>
  <input type="text" name="user">
    <br>
    <br>
   <label for="">bio</label>
  <input type="text" name="bio">
    <br>
    <br>
   <label for="">image</label>
  <input type="file" id="imageUpload" name="image"  />
    <br>
    <input type="submit">
</form>

<br>
<h1> list profile</h1>
{% for profile in profiles %}
            <li>{{ profile.user }} - {{ profile.bio }} - <img src="{{ profile.image.url }}" alt="{{ profile.user }}" style="width:100px;height:auto;"></li>
        {% endfor %}
</body>
</html>